#pingpong-match {
  .match-setup-field {
    margin-bottom: 1em;
  }

  .match-player-score {
    margin-bottom: 1em;

    .match-player-score-name {
      display: inline-block;
    }

    .match-player-score-value {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}